doctype
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Index
    link(rel="stylesheet" href="../css/index.css")
  body
    header
      .leftCol
        .logoText AppCo
        h1
          span Brainstorming
          |
          |
          span for desired perfect Usability
        h2 Our design projects are fresh and simple and will benefit your business greatly. Learn more about our work!
        a(href="usersList.html") Views Stats
      .rightCol
        img(src="../img/mobile.png" alt="phone")

    main
      h1
        span Why
        |
        |
        span small business owners love
        |
        |
        span AppCo?
      h2 Our design projects are fresh and simple and will benefit your business greatly. Learn more about our work!
      .cardsWrapper
        .card
          img(src="../img/Group%2013.png" alt="card logo")
          p Clean Design
          p Increase sales by showing true dynamics of your website.
        .card
          img(src="../img/Group%2015.png" alt="card logo")
          p Secure Data
          p Build your online store’s trust using Social Proof & Urgency.
        .card
          img(src="../img/Group%2014.png" alt="card logo")
          p Retina Ready
          p Realize importance of social proof in customer’s purchase decision.

    footer
      .search
        input(type="text" placeholder="Enter your email")
        button(type="submit") Subscribe
      .infoWraper
        .logoText AppCo
        .warning All rights reserverd by ThemeTags
        .rights Copyrights © 2019.