doctype
html.wjs-MobileHeightFix
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title List
    link(rel="stylesheet" href="../css/user.css")
  body
    include ../modules/header/header.pug

    main.main
      .main__inner
        .breadcrumbs
          a.breadcrumbs__link(href="index.html") Main page
          a.breadcrumbs__link(href="usersList.html") User statistic
          span.breadcrumbs__page

        .h1AndDadepickerWrapper
          h1
          .datepickerWrapper
            include ../modules/datepicker/datepicker.pug

    include ../modules/footer/footer.pug

    script(defer src="../js/user.js")