// ↓↓↓ MODULE: FOOTER ↓↓↓
style
  include footer.css
.footer
  .footer__inner
    .footer__logo AppCo
    .footer__rights All rights reserved by ThemeTags
    .footer__rights Copyrights © 2019.
// ↑↑↑ /MODULE: FOOTER ↑↑↑