.footer {
  height: 117px;
  background-color: #1C3B55;
  color: white;
}
@media (min-width: 600px) {
  .footer {
    height: 57px;
  }
}
.footer__inner {
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
  max-width: 1220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
@media (min-width: 600px) {
  .footer__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.footer__logo {
  font-size: 24px;
}
.footer__rights {
  font-size: 16px;
}