doctype
html.wjs-MobileHeightFix
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet" href="css/workpage.css")
  body
    .linksWrapper
      a(href="./pages/index.html") index.html
      a(href="./pages/usersList.html") usersList.html
      a(href="./pages/user.html") user.html