// ↓↓↓ MODULE: PAGINATION ↓↓↓
style
  include pagination.css
.pagination
  button.pagination__button.pagination__button_arrow .
  button.pagination__button.pagination__button_active 1
  button.pagination__button 2
  button.pagination__button 3
  button.pagination__button 4
  button.pagination__button 5
  button.pagination__button.pagination__button_arrow.pagination__button_active .
// ↑↑↑ /MODULE: PAGINATION ↑↑↑