// ↓↓↓ MODULE: PAGINATION ↓↓↓
style
  include pagination.css
.pagination
  button(data-role="prev").pagination__button.pagination__button_arrow .
  button(data-role="number").pagination__button.pagination__button_active 1
  button(data-role="number").pagination__button 2
  button(data-role="number").pagination__button 3
  button(data-role="number").pagination__button 4
  button(data-role="number").pagination__button 5
  button(data-role="next").pagination__button.pagination__button_arrow.pagination__button_active .
// ↑↑↑ /MODULE: PAGINATION ↑↑↑