@import url("../fonts/icon-font_elegant-font/icon-font_elegant-font.css");
@font-face {font-family: deco; src: url(../fonts/Bosk.otf);}
@font-face {font-family: bold; src: url(../fonts/RobotoBold.ttf);}
@font-face {font-family: light; src: url(../fonts/RobotoCondensedLight.ttf);}
@font-face {font-family: reg; src: url(../fonts/RobotoCondensedRegular.ttf);}
